*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

.container{
    max-width: 1170px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
    .head{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px 0;

        img{
            width: 60px;
            height: 60px;
            margin: 20px;
        }
        h1{
            font-size: 36px;
        }
    }
    form{
        width: 80%;
        background-color: #fff;
        margin: auto;
        padding: 25px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;

        label{
            font-size: 18px;
            margin-bottom: 10px;
        }

        input[type="text"] , input[type="email"]{
            width: 70%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
            font-size: 16px;
            margin-bottom: 15px;
        }

        input[type="datetime-local"]{
           width: fit-content;
           margin: 10px 0;
           padding: 10px;
        }

        input[type="submit"]{
            width: 30%;
            padding: 10px;
            margin: inherit;
            border: none;
            background-color: #333;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            outline: none;
            transition: background-color 0.2s;
            &:hover{
                background-color: #555;
            }
        }
    }
    .popup{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #9e9e9e4a;
        padding: 20px;
        border-radius: 5px;
        width: 40%;
        text-align: center;
        font-weight: bold;
        border-radius: 40px;
        /* display: none; */
        h2{
            font-size: 24px;
            margin-bottom: 10px;
        }
        p{
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
}

@media (max-width:767px) {
    .popup{
        width: 80% !important;
        background-color: #9e9e9ed9 !important;
        h2{
            font-size: 21px !important;
        }
        p{
            font-size: 18px !important;
            white-space: nowrap !important;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}